/* @font-face {
  font-family: nft;
  src: url('../fonts/NFT.b020f94b.eot');
  src: url('../fonts/NFT.b020f94b.eot') format('embedded-opentype'), url('../fonts/NFT.b020f94b.woff2') format('woff2'), url('../fonts/NFT.b020f94b.woff') format('woff'), url('../fonts/NFT.b020f94b.ttf') format('truetype'), url('../fonts/NFT.b020f94b.svg') format('svg');
}


body {
  font-family: nft, Avenir, Helvetica, Arial, sans-serif;
}
 */